{% extends "base.html" %}

{% block content %}


    <div class="recipe">
        <h3 class="recipe_name">{{ meal.strMeal }}</h3> 
        <img class="recipe_img" src=" {{ meal.strMealThumb }}">
        <p>{{ meal.strInstructions }}</p>
        
    </div>

    {% if session['email'] %}
        <div>
            <form action="/favourites_action" method="POST">
                <input type="hidden" name="mealfav" value="{{ meal.strMeal }}">
                <button type="submit" name="mealid" value="{{ meal.idMeal }}">Favourite</button>
            </form>
        </div>
    {% endif %}

{% endblock content %}